{% extends "base.html" %}

{% block body %}
<div class="container text-center">
  <div class="row">
      <div class="col">
          <a href="{% url 'addInvoice' %}"><h1 class="alert my-2 alert-primary text-center">Add Client</h1></a>
          <form action="" method="post">
              {% csrf_token %}
              {{clientfm.as_p }}
              <button type="submit" class="btn btn-primary btn-md my-3">Save</button>
          </form>
      </div>
      <div class="col">
          <a href="{% url 'add-invoice2' %}"><h1 class="alert my-2 alert-primary text-center">Add Services</h1></a>
          <form action="" method="post">
              {% csrf_token %}
              {{serviceFm.as_p }}
              <button type="submit" class="btn btn-primary btn-md my-3">Save</button>
          </form>
      </div>

  </div>
</div>
{% endblock body %}


